.reg {
  padding: 0.6rem 1.75rem !important;
}

.form_item {
  margin-bottom: 0.8rem !important;
}

/* Login css */

.row {
  margin: 0 0;
}

.form_details {
  /* max-height: 100%; */
  background-color: #fff;
  max-width: 420px;
  margin: 0 auto;
  /* margin-top: auto; */
  padding: 20px 20px;
  -webkit-box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.para {
  color: gray;
  margin-top: 10px;
  margin-bottom: 20px;
}

.btn {
  width: 150px;
  border-radius: 10px;
  background-color: #f8f8f8;
  color: #3a3161;
  border: 1px solid #3a3161;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 20px;
  margin-left: 100px;
  transform: translateX(10%);
  transition: 0.5s all;
  text-align: center;
}

.btn:hover {
  background-color: #3a3161;
  color: #f8f8f8;
  border-color: #ffffff;
}

.btn > img {
  width: 15px;
  height: 15px;
  margin: auto;
  margin-left: 10px;
  justify-content: center;
}

@media only screen and (max-width: 430px) {
  .form_details {
    max-width: 320px;
  }

  .btn {
    transform: translateX(-20%);
  }

  .header__logo img {
    height: 3rem;
  }
}

h4 {
  margin-top: 15px;
  font-weight: 600;
  color: #070928;
}

.right_span {
  cursor: pointer;
  text-align: end;
  margin-top: 10px;
  font-size: 0.8rem;
}

.right_span span:hover {
  text-decoration: underline;
}

.separate {
  display: flex;
  flex-direction: row;
  color: grey;
}
.separate:before,
.separate:after {
  content: "";
  flex: 1;
  border-bottom: 1px solid;
  margin: auto;
}
.separate:before {
  margin-right: 2px;
}
.separate:after {
  margin-left: 2px;
}

.form__input {
  display: block;
  font-family: inherit;
  font-size: 1rem;
  color: inherit;
  padding: 1rem 1.75rem;
  border: none;
  width: 100%;
  background-color: #fff;
  background-color: #f2f2f2;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* Pseudo element (a visible thing that isn't really in the DOM).
        Also needs -ms- */
}
.form__input:focus {
  outline: none;
  border-bottom: 3px solid #55c57a;
}
.form__input:focus:invalid {
  border-bottom: 3px solid rgb(238, 16, 16);
}
.form__input::-webkit-input-placeholder {
  color: #bbb;
}

.form__group:not(:last-child) {
  margin-bottom: 1.5rem;
}

.form__label {
  display: block;
  font-size: 1rem;
  font-weight: 500;
  color: #333;
}
