.card {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: #f1fafd;
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  box-shadow: 0 7px 30px -10px rgb(150 170 180 / 50%);
}

.custom-button {
  margin: 20px 0 0 0 !important;
}
